<nav class="navbar osahan-navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="img-fluid" src="img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="" ng-click="gotoBottom('banner')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="" ng-click="gotoBottom('features')">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="" ng-click="gotoBottom('amazing-dashboard')">Dasboards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="" ng-click="gotoBottom('features-mid')">Demos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="" ng-click="gotoBottom('screens')">Screens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="" ng-click="gotoBottom('team')">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="" ng-click="gotoBottom('blog')">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner-block pb-0" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white">Best <strong>Software</strong> Landing Page</h1>
                <p class="lead mb-5 text-white">A Landing Page Template Freshly Redesigned For Bootstrap 4</p>
                <p class="mb-0"><button type="button" class="btn btn-primary btn-lg">LIVE DEMO</button> &nbsp; <button type="button" class="btn btn-warning btn-lg">READ MORE</button></p>
                <img class="img-fluid mt-5 wow fadeInUp" src="img/index-dark.png" alt="">
            </div>
        </div>
    </div>
</section>
<div class="effectiv">
    <img class="svg" src="img/bg.svg" alt="">
</div>
<section class="features-block" id="features">
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-primary">Features</span>
            <h2>Best Features Ever</h2>
            <span class="section-title-line"></span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="features-item text-center">
                    <img class="img-fluid mb-4" src="img/f1.png" alt="">
                    <h5 class="mb-4">24/7 Support</h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-item text-center">
                    <img class="img-fluid mb-4" src="img/f2.png" alt="">
                    <h5 class="mb-4">Well Documented</h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-item text-center">
                    <img class="img-fluid mb-4" src="img/f3.png" alt="">
                    <h5 class="mb-4">Highly Customizable</h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="features-item text-center">
                    <img class="img-fluid mb-4" src="img/f4.png" alt="">
                    <h5 class="mb-4">Free Download</h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-item text-center">
                    <img class="img-fluid mb-4" src="img/f5.png" alt="">
                    <h5 class="mb-4">Responsive Design</h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-item text-center">
                    <img class="img-fluid mb-4" src="img/f6.png" alt="">
                    <h5 class="mb-4">Secure</h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="amazing-dashboard-block" id="amazing-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="amazing-dashboard-left">
                    <h2 class="mb-2">Amazing Dashboard</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley..</p>
                    <h5>1. Clean Code</h5>
                    <p class="mb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    <h5>2. Bootstrap 4 framwork</h5>
                    <p class="mb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    <h5>3. Creative user interface</h5>
                    <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="amazing-dashboard-right text-right">
                    <img class="amazing-dashboard" src="img/amazing-dashboard-block.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-us-block bg-primary" id="why-us">
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-white text-white">Why Us?</span>
            <h2 class="text-white">Our Strong Numbers</h2>
            <span class="section-title-line section-title-line line-white"></span>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="why-us-item text-center text-white">
                    <i class="fa fa-cloud-download"></i>
                    <h1 class="mb-0 mt-3 text-white">20K</h1>
                    <p class="mb-0 text-white">DOWNLOADED</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-us-item text-center text-white">
                    <i class="fa fa-smile-o"></i>
                    <h1 class="mb-0 mt-3 text-white">50K</h1>
                    <p class="mb-0 text-white">HAPPY CUSTOMERS</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-us-item text-center text-white">
                    <i class="fa fa-users"></i>
                    <h1 class="mb-0 mt-3 text-white">33K</h1>
                    <p class="mb-0 text-white">RETURN CUSTOMERS</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-us-item text-center text-white">
                    <i class="fa fa-user-plus "></i>
                    <h1 class="mb-0 mt-3 text-white">350K</h1>
                    <p class="mb-0 text-white">CUSTOMERS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-mid-block" id="features-mid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-mid-right text-left">
                    <img class="img-fluid" src="img/features-mid-block.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-mid-left pt-4">
                    <h2 class="mb-2">Beautyful Features</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. </p>
                    <button type="button" class="btn btn-primary">Create Your Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-mid-block pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-mid-left pt-4">
                    <h2 class="mb-2">Real Time Systems</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and <a class="text-primary" href="#"><strong>Highlight Text</strong></a> typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <button type="button" class="btn btn-primary">READ MORE</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-mid-right text-right">
                    <img class="img-fluid" src="img/features-mid-block1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="screens-block bg-primary" id="screens">
    <div class="screens-container-fluid">
        <div class="section-title text-center">
            <span class="badge badge-white text-white">Previews</span>
            <h2 class="text-white">Screenshot In Details</h2>
            <span class="section-title-line section-title-line line-white"></span>
        </div>
        <div class="screens-row text-center">
            <div class="screens owl-carousel owl-theme owl-loaded owl-drag">




                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transition: all 0s ease 0s; width: 7612px; transform: translate3d(-1427px, 0px, 0px);">
                        <div class="owl-item cloned" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/3.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/4.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="owl-item active center" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/1.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/2.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/3.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/4.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/1.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 951.5px;">
                            <div class="item">
                                <img src="img/2.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"><i class="fa fa-chevron-left"></i></div>
                    <div class="owl-next"><i class="fa fa-chevron-right"></i></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-block" id="team">
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-danger">OUR EXPERTS</span>
            <h2>Innovative Team</h2>
            <span class="section-title-line"></span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="custom-card card team-item card h-100 text-center">
                    <img class="card-img-top" src="img/team/1.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Team Member</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-card card team-item card h-100 text-center">
                    <img class="card-img-top" src="img/team/2.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Team Member</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-card card team-item card h-100 text-center">
                    <img class="card-img-top" src="img/team/3.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Team Member</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>